div{
    background-color : red
}
.container{
    background-color: blue;
    height: 500px;
    width: 30px;
}
.typeaheadinput{
    box-shadow: grey;
    background-color: teal;
    height: 20px;
    width: 200px;
    color: white;
}