div{
    background-color : red
}
.container{
    background-color: blue;
    height: 500px;
    width: 20px;
}
.typeaheadinput{
    box-shadow: grey;
    background-color: teal;
    height: 20px;
    width: 100px;
}