.container{

  background-color:white;
  padding: 20px;
  border-top-right-radius: 20%;

  /* border-radius  : 2.5%; */
}
.wc{
  background-color: white;
  align-content: center;
  border-radius: 1.5% ;
}
.wc--error{
  background-color : red;
  font-size: 200%;
}
.wc--img > img{
  background-color :white;
  width: 50%;
  padding-left: 25%;
}
.wc--header{
  text-align: center;
  background-color: wheat;
  padding : 3%;
  font-size: 150%;
}
.wc--content{
  display: flex;
  padding-top: 1px;
}
.wc--temperature{
  padding: 6%;
  background-color : black;
  color: white;
  font-size: 200%;
  border-bottom-left-radius: 20%;
}
.wc--contentMid{
  flex-grow: 9;
  text-align: center;
  color: white;
  background-color: teal;
  padding: 5%;
  font-size: 150%;
}
.wc--contentMid.wc--dayType{
  background-color: turquoise;
  font-size: 200%;
}
.wc--location{
  text-align: center;
  
}
.wc--date{
  background-color : hsl(177, 57%, 61%);
  color: white;
  font-size: 300%;
  text-align: center;
  padding: 5%;
  border-bottom-right-radius: 20%;
}