:host {
  padding: 2px;
  margin : 2px;
  color : green;
}
.a-card{
  color: black;
}
.a-card__errordiv{
  color : red;
}
.a-card__successdiv{
    color : blue;
}
.a-card__header{
  color : teal;
}
.a-card__headeritem{
  color : grey;
}
.a-card__headerbtn{
  color : purple;
}
.a-card__content{
  color : orange;
}
.a-card__contentLeft{
  color : blue;
}
.a-card__contentRight{
  color : blue;
}
.a-card__contentImage{
  color : blue;
}
.a-card__contentImageCaption{
  color : blue;
}
.a-card__footer{
  color : blue;
}
.a-card__footerItem{
  color : blue;
}